/* ------<All>------ */

* {
    margin: 0;
    transition: all ease-in-out 0.4s;
}

a {
    text-decoration: none;
    color: black;
    font-family: OX-EB;
    font-size: 70px;
}


body {
    overflow: hidden;
}

/* ------<All>------ */


/* ------<Animation>------ */

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* ------<Animation>------ */


/* ------<Font>------ */

@font-face {
    font-family: OS;
    src: url(../font/OpenSans-Regular.woff);
}

@font-face {
    font-family: OS-B;
    src: url(../font/OpenSans-Bold.woff);
}

@font-face {
    font-family: OX;
    src: url(../font/Oxanium-Regular.woff);
}

@font-face {
    font-family: OX-B;
    src: url(../font/Oxanium-Bold.woff);
}

@font-face {
    font-family: OX-EB;
    src: url(../font/Oxanium-ExtraBold.woff);
}

@font-face {
    font-family: MC-R;
    src: url(../font/Minecraft_Regular.TTF);
}

@font-face {
    font-family: MC-B;
    src: url(../font/Minecraft_Bold.TTF);
}

/* ------<Font>------ */

/* ------<Normalize>------ */

.Red_Gt {
    background: linear-gradient(to right, rgb(204, 27, 27), #FF0000);
}

.Blue_Gt {
    background: linear-gradient(to right, rgb(0, 60, 255), #00ffff);
}

.Pink_Gt {
    background: linear-gradient(to right, rgb(57, 0, 38), #dd00ff);
}

.Purple_Gt {
    background: linear-gradient(to right, rgb(119, 0, 255), #600086);
}

.txt_red {
    color: red;
}


.txt_purple {
    color: purple;
}

.txt_black {
    color: black;
}

.Font_Size {
    font-size: 90px;
}

.Medium_Size {
    width: 90px;
    height: 90px;
}


/* ------<Normalize>------ */

/* ------<Design>------ */
.img_bg {
    height: 100vh;
    scale: 1.4;
    animation: shake 5s ease-in-out infinite;
    background-size: cover;
    filter: blur(8px);
    position: relative;
}





.Info__Panel {
    width: 1500px;
    min-width: 1500px;
    max-width: 1500px;
    height: 800px;
    min-height: 800px;
    max-height: 800px;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lime;
    border: solid 10px rgb(0, 98, 0);
    opacity: 0.7;
    border-radius: 1%;
}



.info {
    z-index: 2;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Info__Btn div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100px;
    padding: 10px;
    border-radius: 20px 60px;
    box-shadow: #000000 10px 10px 30px;
    position: relative;
    left: 415px;
}

.Info__Btn a {
    position: absolute;
    font-size: 50px;
    width: 400px;
    height: 160px;
    padding: 10px;
    padding-left: 90px;
}

.Info__Btn i,
.Info__Btn img {
    position: absolute;
    right: 330px;
}

.Info__Btn * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    cursor: pointer;
    opacity: 0.9;
}

.Info__Btn>*:hover {
    scale: 1.1;
    opacity: 1;
    animation: shake 5s ease-in-out infinite;
    border-radius: 60px 20px;


}


.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-justify: auto;
    position: absolute;
    right: 50%;
    top: 50%;
}

.profile>img {
    width: 350px;
    height: 350px;
    display: flex;
    box-shadow: 0 0 120px #14b410;
    border-radius: 5% 10% 10%;
    filter: contrast(1);
    border: solid 5px darkgreen;
    transform: translate(-50%, -50%);

}

.profile span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 500px;
    margin-right: 690px;
    font-size: 50px;
    font-family: OS-B;
    position: absolute;
    background: rgb(103, 255, 69);
    border-radius: 12px 5px 12px;
    padding: 8px;
}



.Panel__For__Audio {
    position: relative;
    width: 1000px;
    min-width: 1200px;
    max-width: 1200px;
    height: 800px;
    min-height: 800px;
    max-height: 800px;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    border-radius: 1%;
}

.Audio {
    position: absolute;
    top: 0;
    right: 1300px;
    left: 0;
    bottom: 630px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Audio * {
    width: 120px;
    height: 120px;
    background: rgb(0, 205, 0);
    z-index: 3;
    border: none;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Audio button {
    box-shadow: 2px 50px 100px black;
}

.Audio button:hover{
    scale: 1.1;
    animation: shake 5s ease-in-out infinite;
}










/* ------<Design>------ */